@import url('https://fonts.googleapis.com/css?family=Kanit:300,400,500,600,700&display=swap');

body {
    font-family: Kanit, 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
    color: #38BFD5;
    font-weight: 400;
}

.sub-heading {
    font-size: 1.4rem;
}

.bg-article-fade {
    background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0) 100%);
    color: white;
    line-height: 1.8rem;
    padding: 15px;
    word-spacing: 3px;
}

.btn-primary {
    background: #005582;
    border: none;
    border-radius: 28px;
    color: white;
    font-weight: 400;
    padding: 12px 50px;
}

.btn-primary:hover {
    background: white;
    color: #005582;
}

.btn-primary-ghost {
    background: transparent;
    border-color: white;
    border-radius: 28px;
    color: white;
    font-weight: 400;
    padding: 8px 20px;
    white-space: nowrap;
}

.btn-primary-ghost:hover {
    background: white;
    color: #005582;
}

.container {
    max-width: 1440px;
}

.content {
    /* Apply safe area */
    padding: 16px env(safe-area-inset-right) 16px env(safe-area-inset-left);
}

@media screen and (min-width: 1200px) {
    .bg-article-fade {
        background: linear-gradient(to right, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0) 100%);
        color: white;
        line-height: 1.8rem;
        margin-right: 30px;
        padding: 30px;
        word-spacing: 3px;
    }

    .bg-article-fade p {
        max-width: 90%;
    }
}

/**
 * Main Navigation
 */

header#main-navigation {
    /*background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);*/
    background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
    padding: 20px 35px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    width: 100%;
}

img#logo {
    height: 100px;
}

#text-logo {
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
    margin-left: 8px;
}

ul#main-navigation-page-list {
    margin-bottom: 0;
}

ul#main-navigation-page-list li {
    color: white;
    display: inline-block;
    margin: 0 5px;
    background-color: transparent;
    transition: background-color 0.15s ease-out;
}

ul#main-navigation-page-list li a {
    color: white;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

ul#main-navigation-page-list li:hover {
    background: rgba(255,255,255,0.2);
    /*background-color: rgba(0,0,0,0.15);*/
}
ul#main-navigation-page-list li a:hover {
    color: #555;
}

/**
* Section: Introduction
*/

section#intro {
    /*background: url("../images/bg-intro.jpg") center;*/
}

#intro-content {
    padding-top: 160px;
    padding-bottom: 60px;
}

section#intro #featured-text-wrapper {
    background: url("../images/intro-shadow.png");
    background-size: 100% 100%;
    padding-top: 80px;
}

#btn-request-demo {
    margin-top: 20px;
    margin-bottom: 60px;
}

section#intro h1 {
    font-size: 3rem;
}

section#intro #intro-text-speciality {
    font-size: 2.5rem;
    font-weight: 400;
}

/*
.slideshow-card-image {
    box-shadow: 0 0 20px #333;
    margin: 20px;
    width: 100%;
}

.slideshow-card-description-wrapper {
    padding-right: 20px !important;
}

.slideshow-card-description {
    background: #005582;
    box-shadow: 0 0 30px #333;
    color: white;
    font-weight: 300;
    padding: 20px !important;
    line-height: 1.6rem;
}

.slideshow-card-description hr {
    border-top: 2px solid white;
    width: 60%;
    margin-left: 0;;
}

.slideshow-card-description article {
    margin-bottom: 12px;
}

.slide {
    width: 350px;
    transition: width 0.5s ease;
    padding: 0;
}

.slide.active {
    width: 675px;
}

.slide.inactive {
    margin-top: 45px;
}

.slideshow-card-description-wrapper hr,
.slideshow-card-description-wrapper article,
.slideshow-card-description-wrapper button {
    display: none;
}

.slideshow-card-description-wrapper.active hr,
.slideshow-card-description-wrapper.active article,
.slideshow-card-description-wrapper.active button {
    display: block;
}

.slideshow-card-description-wrapper h3 {
    color: white;
    margin-bottom: 0;
    text-align: center;
}

.slideshow-card-description-wrapper.active h3.active {
    color: #38BFD5;
    text-align: left;
}

.slide.inactive .slideshow-card-image {
    box-shadow: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.slide.inactive .slideshow-card-description-wrapper {
    padding-right: 0px !important;
    margin-top: -40px;
}

.slide.left {
    margin-left: auto;
    margin-right: -43px;
}

.slide.right {
    margin-left: -43px;
    margin-right: auto;
}

.carousel-cell {
    opacity: 1;
    transition: all 0.5s ease;
}

.slideshow-card-description-wrapper {
    transition: opacity 0.2s ease;
}
*/

/*
.carousel {
}

.carousel-cell {
    width: 700px;
    position: relative;
}

.carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
}

.carousel .flickity-page-dots li {
    background: #777;
    opacity: 1;
}

.carousel .flickity-page-dots li.is-selected {
    background: #ddd;
    opacity: 1;
}
*/



/**
 * Carousel Config
 */

.carousel {
    height: 390px;
}

.carousel .flickity-viewport {
    height: 390px !important;
}

/**
 * Inactive Carousel Cells
 */

.carousel-cell {
    width: 675px;
    margin-right: 10px;
    border-radius: 5px;

    color: white;

    opacity: 1;
    transition: opacity 0.5s ease;
    z-index: 1;
}

.slide {
    margin-top: 40px;
    position: relative;
    width: 350px;
    height: 300px;
    transition: width 0.5s linear;
}

.slide.left {
    margin-left: auto;
    margin-right: -30px;
}

.slide.right {
    margin-left: -30px;
    margin-right: auto;
}

.slide-image-wrapper {
    width: 350px;
    position: absolute;
    transition: all 0.5s linear;
}

.slide.left .slide-image-wrapper {
    right: 0 !important;
}

.slide-right .slide-image-wrapper {
    left: 0 !important;
}

.slide-image {
    width: 100%;
    box-shadow: 0 0 20px #333;
}

.slide-description-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 350px;
    transition: all 0.5s linear;
}

.slide-description {
    background: #005582;
    box-shadow: 0 0 30px #333;
    color: white;
    font-weight: 300;
    line-height: 1.6rem;
    height: 80px;
    transition: all 0.5s linear;
}

.slide-description h3 {
    text-align: center;
    padding-top: 20px;
}

.slide-description hr {
    display: none;
}

.slide-description article {
    display: none;
}

.slide-description button {
    display: none;
}

/**
 * Active Carousel Cell
 */

.carousel-cell.is-selected {
    z-index: 99;
}

.carousel-cell.is-selected .slide {
    width: 675px;
    height: 390px;
    margin-top: 0;
}

.carousel-cell.is-selected .slide-image-wrapper {
    left: 0;
    width: 450px;
}

.carousel-cell.is-selected .slide-image {
    margin: 20px;
}

.carousel-cell.is-selected .slide-description-wrapper {
    width: 225px;
    padding-right: 20px;
}
.carousel-cell.is-selected .slide-description {
    background: #005582;
    box-shadow: 0 0 30px #333;
    color: white;
    font-weight: 300;
    padding: 20px !important;
    line-height: 1.6rem;
    height: 386px;
}

.carousel-cell.is-selected .slide-description h3 {
    text-align: left;
    padding-top: 0;
}

.carousel-cell.is-selected .slide-description hr {
    display: block;
    border-top: 2px solid white;
    width: 60%;
    margin-left: 0;;
}

.carousel-cell.is-selected .slide-description article {
    display: block;
    margin-bottom: 12px;
}

.carousel-cell.is-selected .slide-description button {
    display: block;
}

/**
 * Section: About
 */

section#about {
    padding: 40px 20px;
}

@media screen and (min-width: 1200px) {
    section#about {
        /*background: url("../images/bg-about.jpg") top center;*/
        padding: 100px 40px;
    }
}

/**
 * Section: Vision
 */

section#vision {
    padding: 100px;
}

.card-vision {
    position: relative;
}

.card-vision img {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 0;
}

.card-vision-hover{
    background: rgba(0,0,0,0.7);
    border-radius: 20px;
    color: white;
    padding: 30px 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s ease;
    cursor: pointer;
}

.card-vision-hover:hover {
    opacity: 1;
}

#vision .btn-request-demo {
    width: 60%;
}

#vision .btn-request-demo:hover {
    background: #006fac;
    color: white;
}

@media screen and (max-width: 575px) {
    section#vision {
        padding: 60px 30px;
    }

    #vision .btn-request-demo {
        width: 100%;
    }
}

/**
 * Section: Solution
 */

#solution-bg-filter {
    background: rgba(0,0,0,0.7);
}

.product-list {
    /* opacity: 0; */
    margin: 10px 0;
    transition: opacity 0.5s ease;
}

.solution-item {
    margin: 5px;
    width: 190px;
}

.solution-item-cell {
    display: inline-block;
    list-style-type: none;
    color: white;
    margin-right: 10px;
}

.cell-img {
    text-align: center;
    min-width: 40px;
}

.cell-text {
    text-align: left;
}

.item-img {
    max-width: 40px;
    max-height: 40px;
}

.item-text {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 16px;
    text-align: left;
    margin-bottom: 0;
}

.solution-category-icon {
    max-width: 380px;
    width: 80%;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.solution-category-icon:hover {
    opacity: 1;
}

.solution-category-icon.active {
    opacity: 1;
}

.bordered {
    border: 0px solid #ccc;
}

.solution-category-icon-left, .solution-category-icon-right {
    display: block;
    margin: auto;
}

.cell-solution {
    margin: 20px 0;
}

#solution-refueling-list .flex-wrap {
    justify-content: center;
}

@media screen and (max-width: 1199px) {
    #solution-dispatch-list .solution-item {
        width: 190px !important;
    }
}

@media screen and (min-width: 1200px) {
    #iris-solution {
        background: url('../images/icon-iris-fusion.svg') no-repeat;
        background-size: auto 400px;
        background-position-x: center;
        background-position-y: 0px;
        min-height: 500px;
    }

    #contract-wrapper {
        margin-top: -120px;
    }

    #dispatch-wrapper {
        margin-top: -120px;
    }

    .solution-category-icon-left {
        margin-left: 100px;
    }

    .solution-category-icon-right {
        margin-right: 100px;
    }

    #solution-refueling-list .flex-wrap {
        justify-content: flex-end;
    }

    .cell-solution {
        margin: 0;
    }

    #cell-reconciliation, #cell-refueling {
        margin-top: 120px;
    }

    #solution-head {
        margin-bottom: 180px;
    }
}

/**
 * Section: Equipment
 */


#equipment-bg-filter {
    background: rgba(0,0,0,0.55);
    padding: 40px 20px;
}

#equipment-footer-bg-filter {
    background: rgba(0,0,0,0.85);
    padding: 40px;
}

@media screen and (min-width: 1200px) {
    #equipment-bg-filter {
        padding: 80px;
    }

    #equipment-footer-bg-filter {
        padding: 80px;
    }
}

/**
 * Section: Contact
 */

#contact-bg-filter {
    background: rgba(0,0,0,0.55);
    min-height: 500px;
    padding: 40px 20px;
    color: white;
}

label {
    margin-left: 10px;
}

.form-input {
    background: rgba(255,255,255,0.4);
    border: none;
    border-radius: 25px;
    display: inline-block;
    padding: 15px 20px;
    height: 2.5rem;
    width: 100%;
    font-weight: 300;
}

.form-input:focus {
    background: rgba(255,255,255,0.7);
}

@media screen and (min-width: 1200px) {
    #contact-bg-filter {
        padding: 80px;
    }
}

/**
 * Footer
 */

footer {
    background: black;
    color: #ccc;
}

footer nav {
    padding: 40px 0 40px;
}

footer ul {
    padding-left: 0px;
}

footer li {
    list-style-type: none;
    font-size: 0.9rem;
    margin: 5px 0;
}

#footer-copyright {
    background: #111;
    padding: 20px;
    text-align: center;
}

.logo-img-footer-wrapper {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.logo-img-footer {
    max-height: 200px;
}

.logo-text-footer {
    display: block;
    font-size: 3rem;
}

@media screen and (min-width: 1200px) {
    footer nav {
        padding: 80px 0 60px;
    }

    .logo-img-footer-wrapper {
        text-align: right;
        margin-bottom: 0;
    }

    .logo-img-footer {
        width: 80%;
        max-height: none;
    }
}

